body {
  height: 100vh;
}

#brain-img {
  max-width: 80vw;
}

@media only screen and (min-width: 768px) {
  #brain-img {
    max-width: 40vw;
  }
}

#brain-img:active {
  animation: bounce 500ms ease-in backwards;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%) rotate(5deg);
  }
  50% {
    transform: translateY(-10%);
  }
}

#brain-img:hover {
  cursor: pointer;
}

/* #brain-img:active {
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
} */

#lotus {
  max-width: 20px;
}

.fa-oil-can {
  color: black;
}
